<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
    <!--Add a registration form here -->
    <div class="container-fluid">
    {% if user_warn_msg %}
    <div class="alert alert-danger">{{user_warn_msg}}</div>
    {% endif %}
    <div class="container-fluid">
        <form action="{% url 'djangoapp:registration' %}" method="post">
            <h3>Sign Up</h3>

            <hr/>
            {% csrf_token %}
            <label>First Name</label>
            <input type="text" class="form-control" name="first_name" />

            <label>Last Name</label>
            <input type="text" class="form-control" name="last_name" />

            <label>Username</label>
            <input type="text" class="form-control" name="username" />

            <label>Password</label>
            <input type="text" class="form-control" name="password" />

            <button type="submit" class="btn btn-primary">register</button>
        </form>
    </div>
    </div>
    </body>
</html>